@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="btn btn-primary">
    <a asp-controller="Pharmacists" asp-action="Index">
        Pharmacist
    </a>
</div>

<div class="btn btn-primary">
    <a asp-controller="Products" asp-action="Index">
        Products
    </a>
</div>


<div class="btn btn-primary">
    <a asp-controller="Categories" asp-action="Index">
        Category
    </a>
</div>


<div class="btn btn-primary">
    <a asp-controller="Purchases" asp-action="Index">
        Purchase
    </a>
</div>


<div class="btn btn-primary">
    <a asp-controller="Orders" asp-action="Index">
        Order
    </a>
</div>





